<div class="chat--header">
  <div class="left--header">
    <div class="group--name">
      グループ名
    </div>
  </div>
  
  <div class="right--header">
    <div class="header--btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat--main">
  <div class="chat--content">
    <div class="chat--upper--content">
      <div class="chat--user--name">
        hoge
      </div>
      <div class="main--time--stamp">
        2022/2/23(Feb) 1:23:45
      </div>
    </div>
    <div class="chat--lower--content">
      <div class="main--message">
        やあ
      </div>
    </div>
  </div>

  <div class="chat--content">
    <div class="chat--upper--content">
      <div class="chat--user--name">
        fuga
      </div>
      <div class="main--time--stamp">
        2022/2/23(Feb) 1:23:47
      </div>
    </div>
    <div class="chat--lower--content">
      <div class="main--message">
        やあ
      </div>
    </div>
  </div>
</div>

<div class="chat--footer">
  <div class="sent--message--form">
      <input class="form--text" placeholder="type a message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="sent--btn">
</div>
