<div class="side--header">
  <div class="side--user--name">
      <a href="#">username</a>
  </div>
  <div class="chat--start">
  <a href="#" >チャットを作成する</a>
  </div>
</div>

<div class="side--main">
  <div class="side--chatroom">
    <div class="chatroom--name">
      <a href="#">chatroom1</a>
    </div>
  </div>

    <div class="side--chatroom">
    <div class="chatroom--name">
      <a href="#">chatroom2</a>
    </div>
  </div>

    <div class="side--chatroom">
    <div class="chatroom--name">
      <a href="#">chatroom3</a>
    </div>
  </div>
</div>