.wrapper {
  display: flex;
}

/*side----------------------------------------------------------------*/

.side--wrapper {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side--header {
  height: 100px;
  padding:0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side--user--name a {
  font-size: 16px;
  color:#FAFAFA;
  align-items: center;
  text-decoration: none;
}

.chat--start a {
  border:1px solid lightblue;
  font-size: 10px;
  color: deepskyblue;
  padding:14px;
  text-decoration: none;
}

.side--main {
  background-color:#2F3E51;
  height: calc(100vh - 100px);
  padding:0px 20px;
  overflow: scroll;
}

.side--chatroom {
  margin:20px 0 40px;
}

.chatroom--name a {
  text-decoration: none;
  color:white;
}

/*chat----------------------------------------------------------------*/

.chat--wrapper {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

.chat--header {
  height: 100px;
  padding:0px 40px;
}

.chat--main {
  height:calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding:46px 40px 0px;
}

.chat--footer {
  background-color:#DDDDDD;
  height: 90px;
  padding:20px 40px;
}